//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;

/* https://clrs.cc/ */
$red: #FF4136;
//$blue: #0074D9;
$purple: #B10DC9;
$navy: #001f3f;
$maroon: #85144b;
$orange: #FF851B;
$green: #2ECC40;
$olive: #3D9970;
$silver: #DDDDDD;
$white: #ffffff;
$black: #111111;
$marengo: #4C5866; /* https://www.color-meanings.com/shades-of-gray-color-names-html-hex-rgb-codes/ */
$nevada: #666A6D;
$nickel: #727472;

/* https://mybrandnewlogo.com/es/generador-de-paleta-de-colores */
$blue: #3b2fc4;
//$blue2: #3b2fc4;
$silver2: #e0dfd7;

// Override Bootstrap state colors variables
$primary: $red;

// Override Bootstrap contrast ratio
$min-contrast-ratio: 1.5;

